<div class="product-gallery" data-product-gallery tabindex="0">
  <div class="product-gallery__main">
    {%- for media in product.media -%}
      <div class="product-gallery__media{% if forloop.first %} is-active{% endif %}" data-media-id="{{ media.id }}">
        {{ media | image_url: width: 1200 | image_tag: loading: 'lazy', class: 'product-gallery__image', alt: media.alt | escape }}
      </div>
    {%- endfor -%}
  </div>
  <div class="product-gallery__thumbs">
    {%- for media in product.media -%}
      <button type="button" class="product-gallery__thumb{% if forloop.first %} is-active{% endif %}" data-media-id="{{ media.id }}">
        {{ media | image_url: width: 200 | image_tag: loading: 'lazy', class: 'product-gallery__thumb-image', alt: media.alt | escape }}
      </button>
    {%- endfor -%}
  </div>
</div>
